*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;

}
.addUser{
        border: 1px solid;
        margin: 10rem auto;
        width: 25%;
        height: 20rem;
        padding: 30px;
}

.addUser h3{
    text-align: center;
    margin-top:-1.5rem;
}

.addUser .inputGroup{
    width: 100;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.addUser .inputGroup input{
    margin-top: 1px;
    padding: 5px;
    outline: 0;
    border-width: 0 0 2px 0;
}

input:focus{
    border-bottom:  solid blue;
    transition: all ease-in 50ms;
}


#or{
    text-align: center;
    font-weight:bold;
    position: relative;
}

.btn{
    border-radius: 10px;
    margin-top: .5rem;
}

#login-with{
    margin: -.5rem 0 0 .3rem; 
    font-size: 1.1rem;
    text-align: center;
}

/* -------------------MEDIUM mobile screen ---------------*/

@media (width<=426px) {
    *{
        text-decoration: none;
    }
   .addUser{
        border-radius: 10px;
        margin: 2rem auto;
        width: 90%;
        height: 35rem;
        padding: 30px;
    }
    
    /* login button font size */
    .btn{
        font-size: 1.2rem;
    }

    /* OR text and login with */
    p{
        text-align: center;
        margin-top:.8rem;
    }
    
    #login-btn{
        text-align: center;
        margin-left: 7rem;
    }

    /* show password styling */
    #show-password{
        display: inline-flex;
        margin:-1rem 16rem 0rem 0rem;
    }
    
    /* horizonatal line before  OR */
    #or::before{
        content: "";
        height:2px;
        width: 7.5rem;
        background-color: black;
        position: absolute;
        left:0;
        top:.7rem
    }

    /* horizontal line after OR */
    #or::after{
        content: "";
        height:2px;
        width: 7.5rem;
        background-color: black;
        position: absolute;
        right:0;
        top:.7rem
    }

    #login-with{
        margin: -.5rem 0 0 .3rem; 
        font-size: 1.1rem;
        text-align: center;
    }

     #login-txt{
        margin-top: 5rem;
        margin-left: -5rem;
        color:red;
    }

    #google-img
    {
       width: 3rem;
       height: 3rem;
       object-fit: contain;
       align-items: center;
       margin-left:3rem; 
    }
     /* apple and google login button  */
    .apple-login-btn, .google-login-btn{
        display: block;
        margin-top:1rem;
        margin-right: .2rem;
        width:17.3rem;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 20px;
       
    }

    /* the google and apple text as link  */

    .apple-login-btn>a, .google-login-btn>a, #signup-link{
        text-decoration: none;
        color: black
    }

    .google-login-btn>a{
        margin-right:4rem;
    }

    .apple-login-btn>a{
        margin-right:1.5rem;
    }

    /*show password label  */
    label{
        color:  blue;
        margin: -01.5rem 0rem 0rem 01.5rem;
    }
    /*  */
   .sign-up>#signup-link{
        color: blue;
        display:inline-flex;
        margin: -2rem 0rem 0rem .3rem;
        bottom:2rem;
        font-size: 1.3rem;
    }

    #signup-txt{
        display: inline-flex;
        margin:2rem 0rem 0rem 01rem;
        color: red;
    }

    /* ---------------SMALL mobile screen------------ */

    @media (width<=374px) {

        .addUser{
            border: 1px solid red;
            border-radius: 10px;
            margin: 2rem auto;
            width: 90%;
            height: 35rem;
            padding: 30px;
        }

        .apple-login-btn, .google-login-btn{
            width:14.3rem;
        }

        /* OR seperator */

        #or::before{
            width: 6rem;

        }

        #or::after{
            width:6rem;
        }
        

        
    }

    

    /* ---------------TABLET screen------------ */
    @media (width<=374px) {

        .addUser{
            border: 1px solid red;
            border-radius: 10px;
            margin: 2rem auto;
            width: 90%;
            height: 35rem;
            padding: 30px;
        }

        .apple-login-btn, .google-login-btn{
            width:14.3rem;
        }

        /* OR seperator */

        #or::before{
            width: 6rem;

        }

        #or::after{
            width:6rem;
        }
        

        
    }




    
 

  
}
